/dts-v1/;
/plugin/;
&fpga_full {
	#address-cells = <2>;
	#size-cells = <2>;
	firmware-name = "kria_mipi_isp_platform_v1_2_j25.bit.bin";
	resets = <&zynqmp_reset 116>, <&zynqmp_reset 117>, <&zynqmp_reset 118>, <&zynqmp_reset 119>;
	};

&amba {	
	misc_clk_0: misc_clk_0 {
		clock-div = <1000>;
		compatible = "fixed-factor-clock";
		clock-mult = <2000>;
		clocks = <&zynqmp_clk 71>;
		#clock-cells = <0>;
	};
	misc_clk_1: misc_clk_1 {
		clock-div = <1000>;
		compatible = "fixed-factor-clock";
		clock-mult = <1000>;
		clocks = <&zynqmp_clk 71>;
		#clock-cells = <0>;
	};
	misc_clk_2: misc_clk_2 {
		clock-div = <1000>;
		compatible = "fixed-factor-clock";
		clock-mult = <1140>;
		clocks = <&zynqmp_clk 71>;
		#clock-cells = <0>;
	};
	clocking1: clocking1 {
		compatible = "xlnx,fclk";
		assigned-clocks = <&zynqmp_clk 72>;
		assigned-clock-rates = <99999001>;
		#clock-cells = <0>;
		clock-output-names = "fabric_clk";
		clocks = <&zynqmp_clk 72>;
	};
	clocking0: clocking0 {
		compatible = "xlnx,fclk";
		assigned-clocks = <&zynqmp_clk 71>;
		assigned-clock-rates = <99999001>;
		#clock-cells = <0>;
		clock-output-names = "fabric_clk";
		clocks = <&zynqmp_clk 71>;
	};
	
	
	
		imx219_clk:camera-clk {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <24000000>;
			};
		
		imx219_vana: fixedregulator@3 {
			compatible = "regulator-fixed";
			regulator-name = "imx219_vana";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
			enable-active-high;
		};

		imx219_vdig: fixedregulator@4 {
			compatible = "regulator-fixed";
			regulator-name = "imx219_vdig";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		imx219_vddl: fixedregulator@5 {
			compatible = "regulator-fixed";
			regulator-name = "imx219_vddl";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
		};	
	
	
	afi0: afi0 {
		compatible = "xlnx,afi-fpga";
		resets = <&zynqmp_reset 116>, <&zynqmp_reset 117>, <&zynqmp_reset 118>, <&zynqmp_reset 119>;
		config-afi = < 0 0>, <1 0>, <2 0>, <3 0>, <4 0>, <5 0>, <6 0>, <7 0>, <8 0>, <9 0>, <10 0>, <11 0>, <12 0>, <13 0>, <14 0xa00>, <15 0x000>;
	};



	axi_intc_0: interrupt-controller@80000000 {
		#interrupt-cells = <2>;
		interrupts = < 0 89 4 >;
		xlnx,sense-of-irq-edge-type = "Rising";
		xlnx,edk-special = "INTR_CTRL";
		xlnx,kind-of-intr = <0x0>;
		xlnx,kind-of-edge = <0xffffffff>;
		xlnx,irq-is-level = <1>;
		xlnx,has-ivr = <1>;
		compatible = "xlnx,axi-intc-4.1" , "xlnx,xps-intc-1.00.a";
		xlnx,disable-synchronizers = <0>;
		xlnx,kind-of-lvl = <0xffffffff>;
		xlnx,ivar-reset-value = <0x10>;
		xlnx,irq-active = <0x1>;
		interrupt-parent = <&gic>;
		xlnx,en-cascade-mode = <0>;
		xlnx,ip-name = "axi_intc";
		xlnx,has-ilr = <0>;
		reg = <0x0 0x80000000 0x0 0x10000>;
		xlnx,addr-width = <0x20>;
		clocks = <&misc_clk_0>;
		xlnx,s-axi-aclk-freq-mhz = <0xbebba30>;
		xlnx,num-sw-intr = <0>;
		xlnx,irq-connection = <1>;
		xlnx,num-intr-inputs = <0x5>;
		xlnx,has-sie = <1>;
		xlnx,enable-async = <0>;
		xlnx,has-cie = <1>;
		xlnx,num-sync-ff = <2>;
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,mb-clk-not-connected = <1>;
		xlnx,has-ipr = <1>;
		xlnx,sense-of-irq-level-type = "Active_High";
		xlnx,cascade-master = <0>;
		xlnx,processor-clk-freq-mhz = <100>;
		xlnx,is-fast = <0x0>;
		clock-names = "s_axi_aclk";
		xlnx,has-fast = <0>;
		xlnx,ivar-rst-val = <0x10>;
		interrupt-controller;
		interrupt-names = "irq";
		xlnx,async-intr = <0xffffffe1>;
		xlnx,name = "axi_intc_0";
	};
	axi_iic_0: i2c@80060000 {
		interrupts = < 4 2 >;
		xlnx,iic-freq-khz = <100>;
		compatible = "xlnx,axi-iic-2.1" , "xlnx,xps-iic-2.00.a";
		xlnx,scl-inertial-delay = <0>;
		interrupt-parent = <&axi_intc_0>;
		xlnx,ip-name = "axi_iic";
		xlnx,disable-setup-violation-check = <0>;
		reg = <0x0 0x80060000 0x0 0x10000>;
		clocks = <&misc_clk_0>;
		xlnx,gpo-width = <1>;
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,static-timing-reg-width = <0>;
		xlnx,sda-level = <1>;
		clock-names = "s_axi_aclk";
		xlnx,use-board-flow;
		xlnx,ten-bit-adr = <0>;
		xlnx,default-value = <0x0>;
		interrupt-names = "iic2intc_irpt";
		xlnx,iic-board-interface = "som240_1_connector_hda_iic_switch";
		xlnx,timing-reg-width = <32>;
		xlnx,iic-freq = <100000>;
		xlnx,smbus-pmbus-host = <0>;
		xlnx,name = "axi_iic_0";
		xlnx,axi-aclk-freq-mhz = <0xbebba30>;
		xlnx,sda-inertial-delay = <0>;
		
			i2c_mux: i2c-mux@74 {
			compatible = "nxp,pca9546";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x74>;

			i2c@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;
				imx219: sensor@10 {
					compatible = "sony,imx219";
					reg = <0x10>;
					clocks = <&imx219_clk>;
					VANA-supply = <&imx219_vana>;   /* 2.8v */
					VDIG-supply = <&imx219_vdig>;   /* 1.8v */
					VDDL-supply = <&imx219_vddl>;   /* 1.2v */
					//reset-gpios = <&axi_gpio 2 0 0>;

					port {
					     imx219_0: endpoint {
						remote-endpoint = <&mipi_csi_inmipi_csi2_rx_subsyst_0>;
						data-lanes = <1 2>;
						link-frequencies = /bits/ 64 <456000000>;
						};
					};
				};
			};
		};
	};
	mipi_csi2_rx_subsyst_0: mipi_csi2_rx_subsystem@80010000 {
		xlnx,data-lane2-byte = "All_Byte";
		xlnx,dpy-en-reg-if = <0>;
		xlnx,cmn-vc = <4>;
		xlnx,dphy-lanes = <2>;
		xlnx,ip-name = "mipi_csi2_rx_subsystem";
		reg = <0x0 0x80010000 0x0 0x1000>;
		xlnx,vfb-tu-width = <1>;
		xlnx,ppc = <2>;
		xlnx,csi-buf-depth = <4096>;
		xlnx,exdes-fmc = "LI-IMX274MIPI-FMC , V1.0 , Single , Sensor";
		xlnx,supportlevel = <1>;
		xlnx,clk-lane-io-loc-name = "IO_L13P_T2L_N0_GC_QBC_66";
		xlnx,max-lanes = <2>;
		xlnx,cmn-inc-iic = <0>;
		xlnx,clk-lane-io-loc = "D7";
		xlnx,esc-timeout = <25600>;
		interrupt-names = "csirxss_csi_irq";
		xlnx,cmn-inc-vfb;
		xlnx,axis-tuser-width = <96>;
		compatible = "xlnx,mipi-csi2-rx-subsystem-6.0" , "xlnx,mipi-csi2-rx-subsystem-5.0";
		xlnx,en-active-lanes;
		xlnx,idly-tap = <1>;
		xlnx,cmn-num-pixels = <2>;
		xlnx,cmn-proj-family = <1>;
		xlnx,csi2rx-dbg = <0>;
		xlnx,fifo-rd-en-control;
		xlnx,vfb;
		interrupt-parent = <&axi_intc_0>;
		xlnx,data-lane1-io-loc-name = "IO_L15P_T2L_N4_AD11P_66";
		xlnx,hs-timeout = <65541>;
		xlnx,data-lane3-io-loc-name = "None";
		xlnx,ext-mmcm = <0>;
		xlnx,data-lane1-byte = "All_Byte";
		xlnx,master-riu;
		xlnx,cal-mode = "NONE";
		xlnx,mipi-rx-phy-mode = <1>;
		xlnx,data-lane0-io-position = <28>;
		xlnx,exdes-board = "ZCU102";
		xlnx,use-board-flow;
		xlnx,data-lane2-io-position = <6>;
		xlnx,vc = <4>;
		xlnx,en-vcx = <0>;
		xlnx,name = "mipi_csi2_rx_subsyst_0";
		xlnx,csi-emb-non-img = <0>;
		interrupts = < 0 2 >;
		xlnx,dphyrx-board-interface = "som240_1_connector_mipi_csi_raspi";
		xlnx,data-lane3-io-loc = "None";
		xlnx,clock-mask = <39>;
		xlnx,hs-settle-ns = <145>;
		clocks = <&misc_clk_0>, <&misc_clk_1>, <&misc_clk_0>;
		xlnx,data-lane2-io-loc = "None";
		xlnx,mipi-slv-int = <0>;
		xlnx,cmn-fifo-rd-en-cntrl;
		xlnx,data-lane3-byte = "All_Byte";
		xlnx,stretch-line-rate = <4500>;
		xlnx,axis-tdest-width = <4>;
		xlnx,phy-mode = "DPHY";
		xlnx,en-csi-v2 = <0>;
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,init = <100000>;
		xlnx,cmn-pxl-format = <0x2b>;
		xlnx,int-qor-check = <0>;
		clock-names = "dphy_clk_200M" , "lite_aclk" , "video_aclk";
		xlnx,data-lane1-io-loc = "G6";
		xlnx,data-lane0-byte = "All_Byte";
		xlnx,ooc-vid-clk = <0x65b710>;
		csirx-present = <1>;
		xlnx,yuv420-buf-dpth = <128>;
		xlnx,hp-io-bank-selection = <66>;
		xlnx,idly-group-name = "mipi_csi2rx_idly_group";
		xlnx,lprx-disable-extport = <0>;
		xlnx,highaddr = <0x80010fff>;
		xlnx,cmn-num-lanes = <2>;
		xlnx,exdes-config = "MIPI_Video_Pipe_Camera_to_Display";
		xlnx,exdesboard-version = <2>;
		xlnx,dphy-preset = "CSI2RX_XLNX";
		xlnx,data-lane0-io-loc-name = "IO_L14P_T2L_N2_GC_66";
		xlnx,csi-pxl-format = <0x2b>;
		xlnx,clk-lane-io-position = <26>;
		xlnx,data-lane2-io-loc-name = "None";
		xlnx,data-lane0-io-loc = "E5";
		xlnx,inc-phy;
		xlnx,hs-line-rate = <800>;
		xlnx,dpy-line-rate = <912>;
		xlnx,csi-en-crc = <1>;
		xlnx,axis-tdata-width = <32>;
		xlnx,csi-controller-reg-if;
		xlnx,data-lane1-io-position = <30>;
		xlnx,dphy-mode = "SLAVE";
		xlnx,data-lane3-io-position = <8>;
		mipi_csi_portsmipi_csi2_rx_subsyst_0: ports {
			#address-cells = <1>;
			#size-cells = <0>;
			mipi_csi_port1mipi_csi2_rx_subsyst_0: port@1 {
				xlnx,video-width = <10>;
				reg = <1>;
				//xlnx,video-format = <12>;
				//xlnx,cfa-pattern = "rggb";
				mipi_csirx_outmipi_csi2_rx_subsyst_0: endpoint {
					remote-endpoint = <&v_demosaic_0mipi_csi2_rx_subsyst_0>;
				};
			};
			mipi_csi_port0mipi_csi2_rx_subsyst_0: port@0 {
				xlnx,video-width = <10>;
				reg = <0>;
				//xlnx,video-format = <12>;
				//xlnx,cfa-pattern = "rggb";
				mipi_csi_inmipi_csi2_rx_subsyst_0: endpoint {
					data-lanes = < 1 2 >;
					remote-endpoint = <&imx219_0>;
				};
			};
		};
	};
	v_demosaic_0: v_demosaic@80020000 {
		interrupts = < 1 2 >;
		compatible = "xlnx,v-demosaic-1.1" , "xlnx,v-demosaic";
		xlnx,max-width = <3840>;
		reset-gpios = <&gpio 78 1>;
		xlnx,max-height = <2160>;
		interrupt-parent = <&axi_intc_0>;
		xlnx,max-rows = <2160>;
		xlnx,use-uram = <0>;
		xlnx,ip-name = "v_demosaic";
		reg = <0x0 0x80020000 0x0 0x10000>;
		clocks = <&misc_clk_0>;
		xlnx,s-axi-ctrl-addr-width = <6>;
		xlnx,enable-zipper-removal;
		xlnx,samples-per-clock = <2>;
		xlnx,max-data-width = <10>;
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,max-cols = <3840>;
		clock-names = "ap_clk";
		xlnx,algorithm = <0>;
		interrupt-names = "interrupt";
		xlnx,s-axi-ctrl-data-width = <32>;
		xlnx,name = "v_demosaic_0";
		demosaic_portsv_demosaic_0: ports {
			#address-cells = <1>;
			#size-cells = <0>;
			demosaic_port1v_demosaic_0: port@1 {
				reg = <1>;
				xlnx,video-width = <10>;
				demo_outv_demosaic_0: endpoint {
					remote-endpoint = <&v_gamma_lut_0v_demosaic_0>;
				};
			};
			demosaic_port0v_demosaic_0: port@0 {
				reg = <0>;
				xlnx,video-width = <10>;
				v_demosaic_0mipi_csi2_rx_subsyst_0: endpoint {
					remote-endpoint = <&mipi_csirx_outmipi_csi2_rx_subsyst_0>;
				};
			};
		};
	};
	v_frmbuf_wr_0: v_frmbuf_wr@80030000 {
		xlnx,has-y-uv8 = <0>;
		reset-gpios = <&gpio 82 1>;
		xlnx,max-height = <2160>;
		xlnx,has-bgra8 = <0>;
		xlnx,has-rgba8 = <0>;
		xlnx,ip-name = "v_frmbuf_wr";
		reg = <0x0 0x80030000 0x0 0x10000>;
		xlnx,s-axi-ctrl-addr-width = <0x7>;
		xlnx,pixels-per-clock = <2>;
		xlnx,samples-per-clock = <2>;
		xlnx,max-nr-planes = <3>;
		xlnx,has-bgr8 = <1>;
		xlnx,has-rgb8 = <1>;
		xlnx,has-y-uv8-420 = <1>;
		xlnx,has-yuyv8 = <0>;
		xlnx,has-y-u-v8 = <0>;
		interrupt-names = "interrupt";
		compatible = "xlnx,v-frmbuf-wr-3.0" , "xlnx,axi-frmbuf-wr-v2.2";
		xlnx,max-width = <3840>;
		xlnx,has-rgb16 = <0>;
		xlnx,vid-formats = "rgb888" , "bgr888" , "xbgr8888" , "xrgb8888" , "xbgr2101010" , "vuy888" , "xvuy8888" , "nv12" , "y_u_v10";
		xlnx,has-bgrx8 = <1>;
		xlnx,has-rgbx8 = <1>;
		xlnx,has-rgbx10 = <1>;
		interrupt-parent = <&axi_intc_0>;
		xlnx,aximm-num-outstanding = <4>;
		xlnx,has-uyvy8 = <0>;
		xlnx,use-uram = <0>;
		xlnx,has-rgbx12 = <0>;
		xlnx,aximm-burst-length = <16>;
		xlnx,aximm-addr-width = <32>;
		xlnx,video-width = <10>;
		xlnx,max-cols = <3840>;
		xlnx,has-yuv8 = <1>;
		xlnx,has-y-uv10-420 = <0>;
		xlnx,has-yuva8 = <0>;
		xlnx,has-y-uv12-420 = <0>;
		xlnx,name = "v_frmbuf_wr_0";
		interrupts = < 3 2 >;
		xlnx,has-y10 = <0>;
		xlnx,has-y-uv16-420 = <0>;
		xlnx,has-y12 = <0>;
		xlnx,has-alpha = <0>;
		xlnx,has-y-u-v10 = <1>;
		clocks = <&misc_clk_0>;
		xlnx,has-y16 = <0>;
		xlnx,dma-align = <16>;
		xlnx,has-y-u-v12 = <0>;
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,has-interlaced = <0>;
		xlnx,has-yuv16 = <0>;
		xlnx,has-yuvx8 = <1>;
		xlnx,is-tile-format = <0>;
		xlnx,dma-addr-width = <32>;
		clock-names = "ap_clk";
		xlnx,s-axi-ctrl-data-width = <0x20>;
		xlnx,has-y8 = <0>;
		xlnx,has-y-uv10 = <0>;
		xlnx,has-y-uv12 = <0>;
		xlnx,max-rows = <2160>;
		xlnx,has-yuvx10 = <0>;
		#dma-cells = <1>;
		xlnx,has-yuvx12 = <0>;
		xlnx,has-y-uv16 = <0>;
		xlnx,max-data-width = <10>;
		xlnx,has-y-u-v8-420 = <0>;
		xlnx,num-video-components = <3>;
		xlnx,aximm-data-width = <128>;
	};
	v_gamma_lut_0: v_gamma_lut@80040000 {
		interrupts = < 2 2 >;
		compatible = "xlnx,v-gamma-lut-1.1" , "xlnx,v-gamma-lut";
		xlnx,max-width = <3840>;
		reset-gpios = <&gpio 79 1>;
		xlnx,max-height = <2160>;
		interrupt-parent = <&axi_intc_0>;
		xlnx,max-rows = <2160>;
		xlnx,ip-name = "v_gamma_lut";
		reg = <0x0 0x80040000 0x0 0x10000>;
		clocks = <&misc_clk_0>;
		xlnx,s-axi-ctrl-addr-width = <13>;
		xlnx,max-data-width = <10>;
		xlnx,samples-per-clock = <2>;
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,max-cols = <3840>;
		clock-names = "ap_clk";
		interrupt-names = "interrupt";
		xlnx,s-axi-ctrl-data-width = <32>;
		xlnx,name = "v_gamma_lut_0";
		gamma_portsv_gamma_lut_0: ports {
			#address-cells = <1>;
			#size-cells = <0>;
			gamma_port1v_gamma_lut_0: port@1 {
				xlnx,video-width = <10>;
				reg = <1>;
				xlnx,video-format = <2>;
				gamma_outv_gamma_lut_0: endpoint {
					remote-endpoint = <&v_proc_ss_cscv_gamma_lut_0>;
				};
			};
			gamma_port0v_gamma_lut_0: port@0 {
				xlnx,video-width = <10>;
				reg = <0>;
				xlnx,video-format = <2>;
				v_gamma_lut_0v_demosaic_0: endpoint {
					remote-endpoint = <&demo_outv_demosaic_0>;
				};
			};
		};
	};
	v_proc_ss_csc: v_proc_ss@80050000 {
		xlnx,v-chroma-taps = <4>;
		xlnx,h-chroma-algorithm = <2>;
		hcrsmplr-present = <0>;
		reset-gpios = <&gpio 80 1>;
		xlnx,max-height = <2160>;
		rstaxis-present = <0>;
		vscale-present = <0>;
		xlnx,ip-name = "v_proc_ss";
		xlnx,enable-interlaced;
		reg = <0x0 0x80050000 0x0 0x10000>;
		hscale-present = <0>;
		xlnx,deint-motion-adaptive;
		xlnx,h-scaler-taps = <6>;
		deint-present = <0>;
		xlnx,topology = <3>;
		xlnx,chroma-algorithm = <2>;
		compatible = "xlnx,v-proc-ss-2.3" , "xlnx,v-vpss-csc";
		xlnx,csc-enable-window =  "true";
		xlnx,max-width = <3840>;
		xlnx,aximm-num-outstanding = <16>;
		xlnx,vdma-aximm-addr-width = <32>;
		xlnx,use-uram = <0>;
		xlnx,aximm-burst-length = <16>;
		xlnx,aximm-addr-width = <32>;
		xlnx,v-scaler-taps = <6>;
		xlnx,scaler-enable-422;
		xlnx,video-width = <10>;
		xlnx,max-cols = <3840>;
		xlnx,colorspace-support = <0>;
		xlnx,read-fifo-depth = <128>;
		vdma-present = <0>;
		xlnx,name = "v_proc_ss_csc";
		xlnx,csc-enable-422;
		xlnx,scaler-algorithm = <2>;
		xlnx,v-scaler-phases = <64>;
		clocks = <&misc_clk_0>;
		xlnx,edk-iptype = "PERIPHERAL";
		rstaximm-present = <0>;
		lbox-present = <0>;
		clock-names = "aclk";
		router-present = <0>;
		xlnx,highaddr = <0x8005ffff>;
		xlnx,h-chroma-taps = <4>;
		xlnx,max-rows = <2160>;
		xlnx,h-scaler-phases = <64>;
		xlnx,max-data-width = <10>;
		xlnx,enable-dma;
		xlnx,write-fifo-depth = <128>;
		xlnx,num-video-components = <3>;
		xlnx,aximm-data-width = <128>;
		xlnx,samples-per-clk = <2>;
		xlnx,v-chroma-algorithm = <2>;
		csc-present = <1>;
		csc_portsv_proc_ss_csc: ports {
			#address-cells = <1>;
			#size-cells = <0>;
			csc_port1v_proc_ss_csc: port@1 {
				xlnx,video-width = <8>;
				reg = <1>;
				xlnx,video-format = <3>;
				csc_outv_proc_ss_csc: endpoint {
					remote-endpoint = <&v_proc_ss_scalarv_proc_ss_csc>;
				};
			};
			csc_port0v_proc_ss_csc: port@0 {
				xlnx,video-width = <8>;
				reg = <0>;
				xlnx,video-format = <3>;
				v_proc_ss_cscv_gamma_lut_0: endpoint {
					remote-endpoint = <&gamma_outv_gamma_lut_0>;
				};
			};
		};
	};
	v_proc_ss_scalar: v_proc_ss@80080000 {
		xlnx,v-chroma-taps = <4>;
		xlnx,h-chroma-algorithm = <2>;
		hcrsmplr-present = <0>;
		reset-gpios = <&gpio 81 1>;
		xlnx,max-height = <2160>;
		rstaxis-present = <1>;
		vscale-present = <1>;
		xlnx,ip-name = "v_proc_ss";
		xlnx,enable-interlaced;
		reg = <0x0 0x80080000 0x0 0x40000>;
		hscale-present = <1>;
		xlnx,deint-motion-adaptive;
		xlnx,num-hori-taps = <6>;
		xlnx,h-scaler-taps = <6>;
		deint-present = <0>;
		xlnx,topology = <0>;
		xlnx,chroma-algorithm = <2>;
		compatible = "xlnx,v-proc-ss-2.3" , "xlnx,v-vpss-scaler-2.2";
		xlnx,csc-enable-window =  "true";
		xlnx,max-width = <3840>;
		xlnx,aximm-num-outstanding = <16>;
		xlnx,vdma-aximm-addr-width = <32>;
		xlnx,use-uram = <0>;
		xlnx,aximm-burst-length = <16>;
		xlnx,aximm-addr-width = <32>;
		xlnx,v-scaler-taps = <6>;
		xlnx,scaler-enable-422;
		xlnx,video-width = <10>;
		xlnx,max-cols = <3840>;
		xlnx,colorspace-support = <0>;
		xlnx,read-fifo-depth = <128>;
		vdma-present = <0>;
		xlnx,name = "v_proc_ss_scalar";
		xlnx,csc-enable-422 =  "true";
		xlnx,num-vert-taps = <6>;
		xlnx,pix-per-clk = <2>;
		xlnx,enable-csc = "false";
		xlnx,scaler-algorithm = <2>;
		xlnx,v-scaler-phases = <64>;
		clocks = <&misc_clk_0>, <&misc_clk_0>;
		xlnx,max-num-phases = <64>;
		xlnx,edk-iptype = "PERIPHERAL";
		lbox-present = <0>;
		clock-names = "aclk_axis" , "aclk_ctrl";
		router-present = <0>;
		xlnx,highaddr = <0x800bffff>;
		xlnx,h-chroma-taps = <4>;
		xlnx,max-rows = <2160>;
		xlnx,h-scaler-phases = <64>;
		xlnx,max-data-width = <10>;
		xlnx,enable-dma;
		xlnx,write-fifo-depth = <128>;
		xlnx,num-video-components = <3>;
		xlnx,aximm-data-width = <128>;
		xlnx,samples-per-clk = <2>;
		xlnx,v-chroma-algorithm = <2>;
		csc-present = <0>;
		scaler_portsv_proc_ss_scalar: ports {
			#address-cells = <1>;
			#size-cells = <0>;
			scaler_port1v_proc_ss_scalar: port@1 {
				xlnx,video-width = <10>;
				reg = <1>;
				xlnx,video-format = <3>;
				sca_outv_proc_ss_scalar: endpoint {
					remote-endpoint = <&v_frmbuf_wr_0v_proc_ss_scalar>;
				};
			};
			scaler_port0v_proc_ss_scalar: port@0 {
				xlnx,video-width = <10>;
				reg = <0>;
				xlnx,video-format = <3>;
				v_proc_ss_scalarv_proc_ss_csc: endpoint {
					remote-endpoint = <&csc_outv_proc_ss_csc>;
				};
			};
		};
	};
	
	vcap_v_proc_ss_scalar {
		compatible = "xlnx,video";
		dmas = <&v_frmbuf_wr_0 0>;
		dma-names = "port0";
		vcap_portsv_proc_ss_scalar: ports {
			#address-cells = <1>;
			#size-cells = <0>;
			vcap_portv_proc_ss_scalar: port@0 {
				direction = "input";
				reg = <0>;
				v_frmbuf_wr_0v_proc_ss_scalar: endpoint {
					remote-endpoint = <&sca_outv_proc_ss_scalar>;
				};
			};
		};
	};
	
		zyxclmm_drm {
		compatible = "xlnx,zocl";
		interrupts-extended = <&axi_intc_0 0 4>, <&axi_intc_0 1 4>, <&axi_intc_0 2 4>, <&axi_intc_0 3 4>, <&axi_intc_0 4 4>, <&axi_intc_0 5 4>, <&axi_intc_0 6 4>, <&axi_intc_0 7 4>, <&axi_intc_0 8 4>, <&axi_intc_0 9 4>, <&axi_intc_0 10 4>, <&axi_intc_0 11 4>, <&axi_intc_0 12 4>, <&axi_intc_0 13 4>, <&axi_intc_0 14 4>, <&axi_intc_0 15 4>, <&axi_intc_0 16 4>, <&axi_intc_0 17 4>, <&axi_intc_0 18 4>, <&axi_intc_0 19 4>, <&axi_intc_0 20 4>, <&axi_intc_0 21 4>, <&axi_intc_0 22 4>, <&axi_intc_0 23 4>, <&axi_intc_0 24 4>, <&axi_intc_0 25 4>, <&axi_intc_0 26 4>, <&axi_intc_0 27 4>, <&axi_intc_0 28 4>, <&axi_intc_0 29 4>, <&axi_intc_0 30 4>, <&axi_intc_0 31 4>;
	};
};
